@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: 224 71.4% 4.1%;
        --foreground: 210 20% 98%;
        --card: 224 71.4% 4.1%;
        --card-foreground: 210 20% 98%;
        --popover: 224 71.4% 4.1%;
        --popover-foreground: 210 20% 98%;
        --primary: 263.4 70% 50.4%;
        --primary-foreground: 210 20% 98%;
        --secondary: 215 27.9% 16.9%;
        --secondary-foreground: 210 20% 98%;
        --muted: 215 27.9% 16.9%;
        --muted-foreground: 217.9 10.6% 64.9%;
        --accent: 215 27.9% 16.9%;
        --accent-foreground: 210 20% 98%;
        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 210 20% 98%;
        --border: 215 27.9% 16.9%;
        --input: 215 27.9% 16.9%;
        --ring: 263.4 70% 50.4%;
    }
}

@layer base {
    * {
        @apply border-border;
    }
    body {
        @apply bg-background text-foreground;
    }
}

.nav-link {
    color: #f9fafb;
    text-decoration: none;
    margin-bottom: 0.5rem;
    transition: color 0.3s ease;

    &:hover {
        color: #6d28d9;
    }

    &.active {
        color: #6d28d9;
        font-weight: bold;
    }
}

.text-link {
    color: #f9fafb;
    text-decoration: none;
    margin-bottom: 0.5rem;
    transition: color 0.3s ease;

    &:hover {
        color: #6d28d9;
    }
}

.pokegate {
    box-shadow: inset 215 27.9% 16.9%;
    width: 100%;
    height: 400px;
    object-fit: scale-down;
    border-radius: 0.25rem;
}

.pokemon {
    position: absolute; /* absolute */
    top: 75%; /* top-3/4 */
    left: 50%; /* left-1/2 */
    transform: translate(
        -50%,
        -50%
    ); /* transform -translate-x-1/2 -translate-y-1/2 */
    width: 100%; /* w-full */
    height: 400px; /* h-[400px] */
    object-fit: scale-down; /* object-scale-down */
    border-radius: 0.25rem; /* rounded */
}
